.headline {
    padding: 120px; color: rgb(244, 245, 174);
    font-family: 'Bungee Inline', cursive;
    font-size: 77px;
  }
  
  .navbar-light .navbar-brand { 
      font-family: 'Cabin Sketch', cursive;
  }

  .nav-link {
      font-family: 'Cabin Sketch', cursive;
  }

  .nav-link2 {
      font-family: 'Cabin Sketch', cursive;
  }

  .jumbotron {
    background-image: url(2.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
  
  .logo {
    height: 40px;
  }

  .table {
    font-family: 'Carter One'; background-color: blanchedalmond;
  }

  .core {
    font-family: "Carter One";
  }

  .col-sm-8 { 
    font-family: 'Carter One';
  }

  h1 {
    font-family: 'Patua One';
  }
  
  h2 {
    color: rgb(216, 205, 53);
    font-family: 'Patua One';
  }